# Environment Configuration (development / production)
NODE_ENV=development

# Server Port (Dev: 3000, Prod: 5992)
PORT=3000

# Base Application URL (Dev: http://localhost:3000, Prod: https://watch.pallabdev.in)
APP_URL=http://localhost:3000
