# Environment Configuration (development / production)
NODE_ENV=production

# Server Port (Dev: 3000, Prod: 5992)
PORT=5992

# Domain for Caddy Proxy
DOMAIN=watch.pallabdev.in

# Application Base URL
APP_URL=https://watch.pallabdev.in
